.App {
  display: block;

  background: aqua;
}
.App__container {
  text-align: center;
}
.App__message {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Modal__img {
  display: block;
  width: auto;
  height: 100%;
  object-position: center;
  object-fit: contain;
}
